*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(19,21,40);
}
.TheShops{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 70px 0;
    width: 100%;
    height: auto;

    /* background-color: rgb(44, 85, 79); */
}
.text{
    /* margin: 20px; */
    padding: 20px;
}
.TheShops .text img{
    width: 350px;
    height: 350px;
}
.container{
    width: auto;
}
.container .slideitems{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    overflow-x: auto;
}
.slideitems::-webkit-scrollbar{
    width: 0;
}
.slideitems img{
    width: 420px;
    height: 200%;
    line-height: 600px;
}
.outerwearShop{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: blue;
    /* justify-content: center; */
}
.outerwearShop .ele{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/default/dwa6e8bc47/img/202409/09192024-eu-mpolo-blp/0917_m_polo_hub_c03b_img.jpg");
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}
.outerwearShop .ele > p{
    width: 550px;
    font-size: large;
    letter-spacing: 1px;
    line-height: 30px;
    justify-items: center;
    font-family: sans-serif;
}
.ele #first h1{
    font-size: 90px;
}
.ele #first h4{
    font-size: 20px;
    padding: 0 20px;
    letter-spacing: 5px;
}
.ele #second h1{
    font-size: 50px;
    font-family: 'Times New Roman';
    font-weight: 100;
}
.ele a{  
    position: relative;
    font-size: 18px;
    /* text-decoration: none; */
    color: aliceblue;
    text-underline-offset: 15px;

}
.ele a::after{  
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
.ele a:hover::after {
    transform: scalex(1);
  }
