@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: grotesk;
  src: url(./font/FoundersGrotesk-Regular.otf);
}

@font-face {
  font-family: RL_DroidKufi;
  src: url(./font/DroidKufi-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: RL_DroidKufi, grotesk;
}

.banner {
  width: 100%;
  height: 7vh;
  background-color: #041f3a;
  color: white;
  display: grid;
  grid-template-areas: "l lc mc c r";
  align-items: center;
  padding: 0 3.75em;
}

.banner-text {
  display: flex;
  justify-self: center;
  align-items: center;
  grid-area: c;
  margin-left: 35px;
}

.banner-text p {
  font-size: 11.5px;
  letter-spacing: 1px;
}

.banner-center-underline {
  margin-left: 4px;
}

.banner-center-underline a {
  display: flex;
  align-items: center;
  font-size: 11.5px;
  letter-spacing: 1px;
  color: white;
}

.banner-right {
  justify-self: right;
  grid-area: r;
  display: flex;
  gap: 22px;
}

.banner-right a {
  text-decoration: none;
  font-size: 11.5px;
  color: white;
  letter-spacing: 1px;
}

.banner-icon {
  display: flex;
  align-items: center;
}

.banner-icon i {
  font-size: 16px;
  margin-right: 5px;
}

nav {
  position: sticky;
  width: 100%;
  height: 8vh;
  background-color: #041f3a;
  padding: 0 3.5em;
  display: flex;
  align-items: center;
  z-index: 10;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.6em;
  letter-spacing: 8px;
}

.nav-links {
  margin-left: 2.8em;
  display: flex;
  gap: 1.5em;
}

.nav-links > .nav-dropdown > a {
  font-size: 11.5px;
  letter-spacing: 1px;
}

.nav-dropdown {
  /* position: relative; */
  display: inline-block;
}

.drop-btn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  position: absolute;
  width: 100vw;
  height: 40em;
  display: none;
  position: absolute;
  left: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* display: flex; */
  top: 8vh;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown {
  display: flex;
  width: 100%;
  height: 100%;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
}

.nav-dropdown:hover .drop-btn {
  /* background-color: #3e8e41; */
}

.dropdown .dropdown-left {
  width: calc(100% / 4);
  height: 100%;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown .dropdown-left .drop-link {
  height: 80%;
  width: 80%;
  /* background-color: #dadada; */
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  /* align-items: start; */
}

.sub-drop {
  position: relative;
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  gap: 1.8em;
  align-items: start;
}

.dropdown .dropdown-left .drop-link > .sub-drop > .click > h4 {
  font-family: "Playfair Display", serif;
  /* background-color: #3e8e41; */
  font-size: 1em;
  /* display: inline-block; */
  width: 20vw;
  font-weight: 500;
  padding: 0;
  color: #505050;
}

#h1 > h4 {
  position: relative;
  color: black;
}

#h1 > h4::after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0%;
  background-color: black;
  width: 20%;
  height: 1px;
}

.click {
  position: relative;
  cursor: pointer;
}

.side {
  position: absolute;
  width: 90vw;
  min-height: 50vh;
}

.inner-box {
  position: absolute;
  /* background-color: #3e8e41; */
  /* opacity: 0 */
  /* display: none; */
  /* z-index: 999; */
  top: 50%;
  right: 0%;
  /* left: 50%;  */
  transform: translate(0%, -50%);
}

#h1n {
  /* display: block; */
  width: 70%;
  height: 100%;
}

#h1n::after {
  content: "";
  height: 70vh;
  width: 100%;
  transform: translate(0, -10%) scaleX(1.2);
  position: absolute;
  top: 0;
  background-image: url("https://cdn-fsly.yottaa.net/620ab0e7d93140aaa4e17365/www.ralphlauren.global/v~4b.f5/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/default/dwdaad3103/img/202408/08202024-eu-ts-pop-cat/0820_search_categories_rl_mag.jpg?yocs=4G_4V_4N_4W_");
  z-index: -1;
  background-position: center;
  filter: blur(10px);
  opacity: 0.4;
  background-size: cover;
  background-repeat: no-repeat;
}

#h1n > h5,
#h2n > h5,
.texto {
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 10px;
}

.hr-line {
  border: 0.4px solid black;
}

#h1n-inside,
#h2n-inside {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  /* background-color: rebeccapurple; */
}

.h1n-images {
  width: calc(100% / 4);
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: rebeccapurple; */
}

#h1n1 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/default/dwefd9fe4f/img/202408/08202024-eu-m-brand-flyout/0820_m_brand_flyout_c01a_img.jpg");
}

#h1n2 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/default/dw307b9bb7/img/202408/08202024-eu-m-brand-flyout/0820_m_brand_flyout_c01b_img.jpg");
}

#h1n3 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/default/dw3925f2c2/img/202407/07252024-eu-men-explore-flyout/0723_m_brand_flyout_c01c_img.jpg");
}

#h1n4 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/default/dw4da8d997/img/202408/08202024-eu-m-brand-flyout/0820_m_brand_flyout_c01d_img.jpg");
}

#h1n5 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/default/dw486ad0c2/img/202409/09192024-eu-w-brand-flyout/0917_w_polo_brand_flyout_c01a_img.jpg");
}

#h1n6 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/default/dw1f16b0ef/img/202409/09192024-eu-w-brand-flyout/0917_w_polo_brand_flyout_c01b_img.jpg");
}

#h1n7 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/default/dwf8d540a8/img/202409/09192024-eu-w-brand-flyout/0917_w_polo_brand_flyout_c01c_img.jpg");
}

#h1n8 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/default/dwb755826a/img/202409/09192024-eu-w-brand-flyout/0917_w_polo_brand_flyout_c01d_img.jpg");
}

#h1n9 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/default/dw63097264/img/202409/09192024-eu-kids-flyout/0917_kids_flyout_c01a_img.jpg");
}

#h1n10 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/default/dw8e71e20b/img/202409/09192024-eu-kids-flyout/0917_kids_flyout_c01b_img.jpg");
}

#h1n11 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/default/dw7cd8da2b/img/202409/09122024-eu-kids-flyout/0910_kids_flyout_c01c_img.jpg");
}

#h1n12 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/en_IN/v1727420805069/img/202409/09042024-eu-home-flyout/0904_home_flyout_c01a_img.jpg");
}

#h1n13 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/en_IN/v1727420805069/img/202409/09042024-eu-home-flyout/0904_home_flyout_c01b_img.jpg");
}

#h1n14 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/en_IN/v1727420805069/img/202409/09042024-eu-home-flyout/0904_home_flyout_c01c_img.jpg");
}

#h1n15 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/en_IN/v1727420805069/img/202409/09062024-eu-discover-flyout/0906_runway_flyout.jpg");
}

#h1n16 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/en_IN/v1727420805069/img/202408/08202024-eu-discover-flyout/0820_timeless_style_discover_flyout_c01a_img.jpg");
}

#h1n17 {
  background-image: url("https://www.ralphlauren.global/on/demandware.static/-/Library-Sites-RalphLauren_EU_Library/en_IN/v1727420805069/img/202408/08152024-eu-worl-flyout/0815_discover_flyout_c01a_img.jpg");
}

#s12 {
  top: -5.31vh;
  z-index: -99;
}

#h2n {
  width: 70%;
  height: 100%;
}

.text-cont {
  width: calc(100% / 4);
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2%;
  padding-top: 4%;
}

.text-cont > .texto {
  padding: 0;
  font-size: 0.8em;
}

.text-cont > .texto:hover {
  background-color: #ffffff00;
  border-bottom: 1px solid black;
}

#h2n-inside-img {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2%;
  /* background-color: rebeccapurple; */
}

.h1n-images {
  width: calc(100% / 3);
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: rebeccapurple; */
}

.right-link {
  height: 100%;
  width: 45%;
  /* background-color: teal; */
  display: flex;
  justify-content: end;
}

.right-nav {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: end;
  gap: 15%;
  align-items: center;
  color: #fff;
}

.right-nav > i {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: #fff; */
}

.form-user {
  position: absolute;
  width: 25vmax;
  height: 30vmax;
  display: none;
  background-color: #eaeaea;
  left: -50%;
  top: 99%;
  overflow: hidden;
}

#user-form:hover .form-user {
  display: block;
  animation: lo 0.5s ease-in-out;
}

@keyframes lo {
  from {
    height: 0;
  }
  to {
    height: 30vmax;
  }
}

.section-filter {
  background: #fff;
  width: 100%;
}
.Ralph-h1 {
  font-family: RL_DroidKufi;
  letter-spacing: 7px;
  text-transform: uppercase;
}
.Modern-h1 {
  font-family: RL_DroidKufi;
  letter-spacing: 2px;
}
.cardd {
  position: relative;
  background: #fff;
  border-radius: 6px;
  transition: 0.5s ease-out;
  overflow: visible;
}

.cardd-details {
  flex: 1 1 auto;
  padding: 10px;
  height: 100%;
}
.cardd-details h4 a {
  font-family: RL_DroidKufi;
  text-decoration: none;
  color: black;
}
.cardd-details h4 a:hover {
  text-decoration: underline;
}
.cardd-button {
  width: 100%;
  transform: translate(-50%, -10%);
  border: none;
  background-color: #fff;
  font-size: 1rem;
  position: absolute;
  left: 50%;
  bottom: 100px;
  opacity: 0;
  transition: 0.3s;
}
.img-circle img {
  padding: 2px;
  border-radius: 50%;
  border: 1px solid #041e3a;
}
.cardd-button .quick-button {
  font-size: 13px;
  border-radius: 50px;
  border: 1px solid #041e3a;
}
.quick-button:hover {
  color: #fff;
  background-color: #041e3a;
}

.cardd:hover .cardd-button {
  transform: translate(-50%, -60%);
  opacity: 1;
}
.cardd:hover .default-img {
  opacity: 0;
}
.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.cardd:hover .hover-img {
  opacity: 1;
}
.img-main {
  position: relative;
}
.img-full img {
  width: 100%;
  height: 80vh;
}
.img-text {
  width: 40%;
  font-size: 20px;
  position: absolute;
  bottom: 80px;
  right: 140px;
}
.shop-now a {
  text-decoration: none;
  color: #fff;
}
.shop-now:hover a {
  text-decoration: underline;
}
.img-text2 {
  width: 40%;
  font-size: 20px;
  position: absolute;
  bottom: 80px;
  left: 150px;
}
.view-btn {
  color: #fff;
  background: #041e3a;
  padding: 10px 20px;
  border-radius: 50px;
}
.Sutton-h1 {
  font-family: RL_DroidKufi;
}
footer{
width: 100%;
height: 100vh;
}

footer>hr{

}

.footer-content{
    padding: 30px 30px;
    display: flex;
}

.f1{
    display: flex;
    flex-direction: column;
    padding: 0 12% 0 0;
}

.f1:nth-child(2){
    padding: 0 12% 0 30px;
}

.f1:nth-child(3){
    padding: 0 12% 0 30px;
}

.list{
    border-right: 1px solid #bbbbbb;
}

.list>a{
    font-size: 0.9em;
    text-decoration: none;
    color: black;
    margin-bottom: 3px;
}

.list{

}

.heading_footer h6{
    margin-bottom: 13px;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #041F3A;
    font-weight: 700;
}

.f1:nth-child(4){
    width: 25%;
    padding-left: 30px;
    padding-right: 0;
}

.input-footer{
    display: flex;
}

#input-footer {
    /* background-color: red; */
    width: 15vw;
    border-radius: 0;
    border: 1px solid #041F3A;
    padding: 8px;
}

#input-footer::placeholder{
    font-size: 12px;
    letter-spacing: 1px;
}

.input-footer> input[type=submit]{
    border: none;
    padding: 8px;
    background-color: #041F3A;
    color: white;
}

.f1>p{
    font-size: 0.8em;
    margin-top: 4em;
}

.f1>p>a{
    text-decoration: none;
    color: #041F3A;
    text-decoration: underline;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-icons>i{
    padding: 10px;
    background-color: #b1b1b1;
}

.social-icons>i:hover{
    cursor: pointer;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright > p{
    font-size: 12px;
}
@media only screen and (max-width: 1024px) {
  .img-text,
  .img-text2,
  body {
    font-size: small;
  }
}
@media only screen and (max-width: 768px) {
  .img-text,
  .img-text2,
  body {
    font-size: smaller;
  }
}
@media only screen and (max-width: 425px) {
  .con-main {
    font-size: x-small;
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 320px) {
  .img-text,
  .img-text2 {
    width: 50%;
    font-size: x-small;
  }
  body {
    font-size: x-small;
  }
}
